:root {
    --c-bg: #f5f5f5;
    --c-text: hsl(0, 0%, 10%);
    --c-border:hsla(0, 0%, 10%, 0.4);
    --c--hover:rgb(133, 1, 23);
    --fs-text: 12px;
    --ff-text: "Montserrat", sans-serif;
    --ff-hover:"Jacquarda Bastarda 9", serif;
    
}


@media screen and (min-width: 425px) and (max-width: 870px) {
    .header_nav{
        font-size: 17px;
    }


    .home_text{
        margin-bottom: 15%;
        margin-top: 10%;
        line-height: 1.7em;
    }

    .home_contact{
        margin-bottom: 5%;
    }

    .about_text{
        line-height: 1.7em;
    }

    .project button{
        margin:10%;
    }

    .header_nav ul li:hover{
        font-size: 25px;
    }

}


@media screen and (min-width: 870px) and (max-width: 1440px) {
    
    .header_nav{
        font-size: 20px;
    }

    .home{
        margin-top: 5%;
    }
    .home_text{
        margin-top: 5%;
        margin-bottom: 15%;
        line-height: 1.9em;
    }

    .header_nav ul li:hover{
        font-size: 30px;
    }

    .about_text{
        margin-top: 5%;
        line-height: 1.9em
    }

    .project button{
        margin:10%;
    }


    .project{
        text-align: center;
        max-width: 100%;
        justify-content: center;
        margin:0;
        margin-top: 25%;
    }

    .project button{
        margin-top: 2%;
    }

    .home_text,.about_text{
        font-size: 15px;
    }

    
}

