:root {
    --primary-color: #f5f5f5;
    --secondary-color: #1e1e1e;
    --tertiary-color: #a01010;
    --transparent-color1:#ffffffa6;
    --transparent-color2:#f5f5f5d5;
    --font-1: "Montserrat", serif;
    --font-2: "Jacquard 12", serif;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-1);
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h2{ 
    font-weight: normal;
}

.special-font {
    font-family: var(--font-2);
    font-size: 2.4em;
}

p{
    font-size: 14px;
    text-align: justify;
    line-height: 155%;
}

.background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 1000;
    background-color: var(--transparent-color2);
}

.header-name h1 {
    font-size: 20px;
}

#hamburger-logo {
    cursor: pointer;
    font-size: 24px;
    color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    display: block;
    transition: transform 0.3s ease-in-out;
}

#hamburger{
    display: none;
}

.nav-link {
    display: none
}

/* MENU BURGER */

.menuBurger{
    position: fixed;
    top: 60px;
    right: 0;
    width: 120px;
    background: var(--transparent-color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.menuBurger a {
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s ease-in-out;
}

.menuBurger a:hover {
    font-family: var(--font-2);
}

#hamburger:checked ~ .menuBurger {
    transform: translateX(0);
}

/* INDEX */

.index{
    display: flex;
    flex-flow: column nowrap ;
    align-items: center;
    margin-top: 90px;
}

.index-text{
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--transparent-color1);

    h1{
        margin-bottom: 5%;
    }
}

.index-link{
    margin: 12% 0;

    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap:25%;
    }

    svg{
        height: 40px;
        width: 40px;
        transition: transform 0.3s ease-in-out;
    }

    li a:hover {
        svg {
            width: 50px;
            height: 50px;
            transform: scale(1.1);
        }
    }
}

/* ABOUTME */
.aboutme{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding: 10px;
    position:relative;
}

#about{
    padding:65px 10% 2%;
}

.aboutme::before {
    content: "";
    position: absolute;
    top: -120px;
    width: 1px;
    height: 1px;
}

.box{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--transparent-color1);
    box-shadow: 2px 2px 4px var(--secondary-color);
    gap:10px;
    min-width:160px;

    h2{
        font-size: 18px;
    }
}

.box:hover {
    transform: scale(1.05);
    box-shadow: var(--secondary-color);
}

.box-learn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.box-container {
    display: flex;
    width: 100%;
}

.box-journey {
    width: 100%; 
}

.box-learnjourney{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    width: 100%;
}

.box-learning,.box-learned{
    flex: 1;
    min-width: 0;
}

.box-learning {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 25px;
}

.box-learned {
    display: flex;
    flex-direction: column; 
    gap: 25px;
}

.box-learning svg,
.box-learned svg {
    height: 30px;
    width: 30px;
    fill: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}

.box-skillsmore{
    display: flex;
    flex-flow: column wrap;
    gap:15px;
    width: 100%;
    align-items: center;
    
    ul li{
        list-style-type:circle;
        margin-left: 15px;
    }

    .box-skills{
        width: 100%;
    }
}
/* PROJETS */

.project {
    display: flex;
    flex-flow: column wrap;
}
  
.project h2 {
    padding:0px 10% 2%;
}
  
.boxs-projects {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 3%;
    overflow-x: auto; 
    white-space: wrap; 
    scroll-behavior: smooth;
}
  
.boxs-projects::-webkit-scrollbar {
    display: none;
}
  
.box-project {
    flex: 0 0 auto; 
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--transparent-color1);
    box-shadow: 2px 2px 4px #1e1e1e;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
  
.box-project h3 {
    font-size: 16px;
    text-align: center;
}
  
.box-project h3 .special-font {
    font-weight: normal;
}

.box-project p {
    text-align: center;
}
  
.box-project button {
    font-size: 10px;
    font-weight: bold;
    border: 1px solid var(--transparent-color1);
    border-radius: 20px;
    padding: 10px 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    max-width: 100px;
}
  
.box-project button:hover {
    transform: scale(1.05);
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: var(--secondary-color);
}

/* FOOTER */
footer {
    background-color: var(--transparent-color2);
    color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}


@media screen and (min-width: 768px){
    @media (min-width: 768px){

    .menuBurger{
        width: 200px;
    }
    
    .index-text{
        .special-font {
            font-size: 2.7em;
        }
    }
    
    p{
        font-size: 16px;
        line-height: 175%;
    }

    .index-link{
        ul{
            gap:80%;
        }
    
        svg{
            height: 50px;
            width: 50px;
        }
    }

    /* ABOUTME */
    .aboutme{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        padding: 10px;
    }

    
    .aboutme::before {
        content: "";
        position: absolute;
        top: -120px;
        width: 1px;
        height: 1px;
    }
    
    .box{
        min-height: 200px;
    }
    
    .box-learn{
        display: flex;
        flex-flow: column wrap;
        width: 40%;
        justify-content: flex-start;
        gap:35px;
    }
    
    .box-learning {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 30px;
    }
    
    .box-learned {
        display: flex;
        flex-direction: row; 
        gap: 5px;
        
    }
    
    .box-learning svg,
    .box-learned svg {
        height: 50px;
        width: 50px; 
    }
    
    .box-skillsmore{
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;
        justify-content: center;
        gap:25px;
    }

    .box-journey {
        width: 100%; 
        margin-top: 20px;
    }

    .box-journeys{
        width: 55%;
    }
    
    .box-learnjourney{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: space-between;
    }

    /* PROJECTS */

    .box-project h3 {
        font-size: 18px;
    }

    .box-project{
        height: 280px;
        width: 200px;
    }

    .box-project p{
        font-size: 18px;
    }

    .box-project button{
        font-size: 12px;
    }
}
}

@media screen and (min-width: 1024px){
    @media (min-width: 1024px){
        .header-name h1 {
            font-size: 30px;
        }

        #hambuger-logo{
            font-size: 30px;
        }

        h1{
            font-size: larger;
        }

        h2{
            font-size: larger;
        }
        
        .special-font {
            font-family: var(--font-2);
            font-size: 3em;
        }
        
        p{
            font-size: 14px;
            text-align: justify;
            line-height: 155%;
        }
    }
}


    